
:root{
  --roboto: 'Roboto';
  --raleway: 'Raleway';
  --WHITE: #ffffff;
  --NAVY-BLUE: #2e2f42;
  --cornflower: #e7e9fc;
  --IRIS: #4d5ae5;
}

.main-header{
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
  background-color: var(--WHITE);
}

